<div
  class="header__wrapper"
  [ngClass]="{ whiteBg: currentPath !== '/home' && currentPath !== '/' }"
>
  <div class="header">
    <div class="header__flex">
      <a class="header__logo _pointer" [routerLink]="['/home']">
        <img src="./assets/images/logo.svg" alt="Logo" />
      </a>

      <app-booking-steps
        [currentPath]="currentPath"
        *ngIf="
          currentPath !== '/home' &&
          currentPath !== '/cart' &&
          currentPath !== '/'
        "
      ></app-booking-steps>

      <nav class="header__menu header-menu">
        <ul>
          <li
            *ngIf="currentPath === '/home' || currentPath === '/'"
            class="header-menu__item mr-book"
          >
            <button color="red" class="header__book-btn" mat-button>
              <span class="header__book-span"> Book flights </span>
            </button>
          </li>

          <li class="header-menu__item">
            <mat-form-field
              style="width: 162px"
              class="header__list"
              appearance="fill"
              [ngClass]="{
                w175px: currentPath !== '/home' && currentPath !== '/'
              }"
            >
              <mat-select
                [formControl]="dateSelectForm"
                disableRipple
                [ngClass]="{
                  currencyList: currentPath === '/home' || currentPath === '/'
                }"
                (click)="checkDate()"
              >
                <mat-option (click)="checkDate()" value="MM/DD/YYYY">MM/DD/YYYY</mat-option>
                <mat-option (click)="checkDate()" value="DD/MM/YYYY">DD/MM/YYYY</mat-option>
                <mat-option (click)="checkDate()" value="YYYY/DD/MM">YYYY/DD/MM</mat-option>
                <mat-option (click)="checkDate()" value="YYYY/MM/DD">YYYY/MM/DD</mat-option>
              </mat-select>
            </mat-form-field>
          </li>

          <li
            class="header-menu__item"
            [ngClass]="{
              mrCurrency: currentPath === '/home' || currentPath === '/',
              mrCurrencySteps: currentPath !== '/home' && currentPath !== '/'
            }"
          >
            <form
              class="header__list currency-list"
              appearance="fill"
              [ngClass]="{
                grayColor: currentPath !== '/home' && currentPath !== '/',
                currencyList: currentPath === '/home' || currentPath === '/'
              }"
            >
              <mat-select
                [formControl]="currencySelectForm"
                disableRipple
                class="header-btn-bg header-span"
                [ngClass]="{
                  bookingBorder: currentPath !== '/home' && currentPath !== '/'
                }"
                style="padding: 10px 15px"
                (selectionChange)="onCurrencyChange(currencySelectForm.value!)"
              >
                <mat-option
                  [ngClass]="{
                    grayColor: currentPath !== '/home' && currentPath !== '/'
                  }"
                  value="EUR"
                  style="color: white"
                  >EUR</mat-option
                >
                <mat-option
                  [ngClass]="{
                    grayColor: currentPath !== '/home' && currentPath !== '/'
                  }"
                  value="USD"
                  >USD</mat-option
                >
                <mat-option
                  [ngClass]="{
                    grayColor: currentPath !== '/home' && currentPath !== '/'
                  }"
                  value="RUB"
                  >RUB</mat-option
                >
                <mat-option
                  [ngClass]="{
                    grayColor: currentPath !== '/home' && currentPath !== '/'
                  }"
                  value="PLN"
                  >PLN</mat-option
                >
              </mat-select>
            </form>
          </li>

          <li class="header-menu__item">
            <button
              *ngIf="!(isAuth$ | async)"
              class="header-btn-bg"
              mat-stroked-button
              type="button"
              (click)="openDialog()"
            >
              <img
                *ngIf="currentPath === '/home' || currentPath === '/'"
                src="assets/images/account_circle_filled_24px.svg"
              />
              <img
                *ngIf="currentPath !== '/home' && currentPath !== '/'"
                src="assets/images/sign_in_booking.svg"
              />
              <span
                class="header-span"
                [ngClass]="{
                  grayColor: currentPath !== '/home' && currentPath !== '/'
                }"
                >Sign in
              </span>
            </button>
            <button
              *ngIf="isAuth$ | async"
              class="header-btn-bg"
              mat-stroked-button
              type="button"
              beforeClosed="(isAuth$ | async)"
            >
              <img
                *ngIf="currentPath === '/home' || currentPath === '/'"
                src="assets/images/account_circle_filled_24px.svg"
              />
              <img
                *ngIf="currentPath !== '/home' && currentPath !== '/'"
                src="assets/images/sign_in_booking.svg"
              />
              <span
                class="header-span"
                [ngClass]="{
                  grayColor: currentPath !== '/home' && currentPath !== '/'
                }"
              >
                {{ firstName$ | async }}</span
              >
            </button>
          </li>
          <li class="header-menu__item" *ngIf="isAuth$ | async">
            <mat-icon
              class="header-logout"
              [ngClass]="{
                grayColor: currentPath !== '/home' && currentPath !== '/'
              }"
              aria-hidden="false"
              aria-label="Example home icon"
              (click)="onLogout()"
              fontIcon="logout"
            ></mat-icon>
          </li>

          <li class="header-menu__item _pointer mr-cart">
            <a [routerLink]="['/cart']">
              <img
                *ngIf="currentPath === '/home' || currentPath === '/'"
                src="./assets/images/shopping_basket_home.svg"
                alt="Basket"
              />
              <img
                *ngIf="currentPath !== '/home' && currentPath !== '/'"
                src="./assets/images/shopping_basket_booking.svg"
                alt="Basket"
              />
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
