@import "../../../../styles/abstracts/constants.scss";

.header {
  position: relative;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 8px 0px;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(116, 118, 122, 0.2);
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__book-span {
    color: white;
  }

  &__list {
    position: relative;
  }

  &__list div {
    padding-top: 0;
  }

  &__data-select-span {
    position: absolute;
  }
}

._pointer {
  cursor: pointer;
}

.mr-book {
  margin-right: 56px;
}

.mrCurrency {
  margin: 0px 41px;
}

.mrCurrencySteps {
  margin: 0px 17px;
}

.mr-cart {
  margin-left: 32px;
}

.whiteBg {
  background-color: white;
}

.header-span {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
}

.header-btn-bg .mdc-button__label {
  display: flex;
  img {
    margin-right: 4px;
  }
}

.header-logout {
  margin-top: 4px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.header-btn-bg {
  background: linear-gradient(
    0deg,
    rgba(241, 243, 246, 0.15),
    rgba(241, 243, 246, 0.15)
  );
  border-radius: 5px;
}

.w175px {
  width: 175px;
}

.header .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: linear-gradient(
    0deg,
    rgba(241, 243, 246, 0.15),
    rgba(241, 243, 246, 0.15)
  );
  border-radius: 5px;
}

.header mat-label {
  color: white;
}

.header .mat-mdc-form-field-infix {
  padding: 5px 0px !important;
  min-height: 38px;
}

.header .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.header .currencyList .mat-mdc-select-arrow-wrapper {
  display: none !important;
}

.grayColor {
  color: rgba(73, 69, 79, 1);

  span {
    color: rgba(73, 69, 79, 1) !important;
  }

  .mat-mdc-select-arrow-wrapper {
    display: none !important;
  }
}

.currencyList span {
  color: white !important;
}

.bookingBorder {
  border-radius: 4px;
  border: 0.5px solid rgba(206, 206, 206, 1);
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorGrey {
  color: grey;
}
