.step2 {
  padding: 42px 0px 0px 0px;

  &__title span {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: rgba(17, 57, 126, 1);
    margin-left: 14px;
  }

  &__sub-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(73, 69, 79, 0.8);
    margin: 8px 0px 20px 0px;
  }

  &__contact {
    background-color: #fff;
    padding: 32px;
    padding-left: 44px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }

  &__btns {
    padding-top: 40px;
    padding-bottom: 102px;
    display: flex;
    justify-content: flex-end;

    button {
      color: rgba(17, 57, 126, 1);
      border: 0;
      width: 126px;
      height: 60px;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      cursor: pointer;
    }
  }

  &__continue {
    background: rgba(17, 57, 126, 1);
    color: white !important;
  }
}

.step2-item {
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 32px 44px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: rgba(16, 38, 76, 1);
    margin-bottom: 24px;
  }

  &__form-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.step2-item__select-label {
  cursor: pointer;
  width: 107px;
  height: 56px;
  border: 1px solid rgba(116, 118, 122, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(226, 223, 223, 0.4);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.boreder-left-select {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.boreder-right-select {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.field-width {
  width: 255px !important;
}

.step2LabelSelected{
  margin-left: 2px;
  color: rgba(16, 38, 76, 1);
}
