<div class="cart _container">
  <div class="cart__wrapper">
    <div class="cart__title">Cart</div>
    <ul class="cart__column-names cart-column-names">
      <li class="cart-column-names__item">No.</li>
      <li class="cart-column-names__item">Flight</li>
      <li class="cart-column-names__item">Type trip</li>
      <li class="cart-column-names__item">Data & Time</li>
      <li class="cart-column-names__item">Passengers</li>
      <li class="cart-column-names__item">Price</li>
    </ul>
    <div class="cart__main-block">
      <div class="cart__add-item-and-total cart-border-bottom">
        <button class="cart__primary-btn">+ Add new trip</button>
        <div class="cart__total-wrapper">
          <span>Total</span><span>{{ 213 | currency : "EUR" : true }}</span>
        </div>
      </div>
      <div class="cart__panel-btns panel-btns-cart">
        <div class="panel-btns-cart__promo-input">
          <input type="text" placeholder="Promo Code"><button class="cart__primary-btn">APPLY</button>
        </div>
        <div class="panel-btns-cart__selected-and-payment-btn">
          <span>2 selected</span>
          <button>Payment</button>
        </div>
      </div>
    </div>
  </div>
</div>
