<div class="flight-card">
  <div class="card-wrapper">
    <div class="card-body">
      <div class="card-info">
        <div class="card-info__cols">
          <div class="card-info__col">
            <div class="flight-departure">
              <span class="departure-date">Wed, 1 Mar 2023</span>
              <div class="departure-time">
                <span class="departure-time_hour">8:40</span>
                <span class="departure-time_utc">UTC +0</span>
              </div>
              <span class="departure-city">Dublin</span>
            </div>
      
            <div class="flight-duration">
              <div class="duration-time">2h 50m</div>
              <div class="duration-img">
                <span class="duration-icon">
                  <img src="./assets/booking/plane-duration.svg" alt="Plane Duration">
                </span>
              </div>
              <div class="duration-label">Direct</div>
            </div>
      
            <div class="flight-arrival">
              <span class="arrival-date">Wed, 1 Mar 2023</span>
              <div class="arrival-time">
                <span class="arrival-time_utc">UTC +1</span>
                <span class="arrival-time_hour">12:00</span>
              </div>
              <span class="arrival-city">Warsaw Modlin</span>
            </div>
          </div>
          <div class="card-flight-label">Flight no.</div>
    
          <div class="card-flight-num">FR 1925</div>
        </div>
  
      </div>
  
      <div class="card-price">
        <div class="flight-price">
          <div class="price-wrapper">
            <span class="seats-availabel">100 seats available</span>
            <span class="price-fare">Price</span>
            <span class="price-value">€146.70</span>
  
          </div>
        </div>
        <button class="card-price__btn">Select</button>
      </div>
    </div>
  </div>
</div>
