<div class="booking-journey__carousel" [class.trip-selected]="isSelected">
  <button class="carousel-btn carousel-btn_prev" (click)="prevSlide()">
    <span class="carousel-btn_icon">
      <img src="./assets/booking/arrow.svg" alt="Arrow" />
    </span>
  </button>
  <ul
    class="carousel__container"
    [style.transform]="'translateX(' + -currentIndex * 10 + '%)'"
  >
    <li
      class="item"
      *ngFor="let item of dates"
      (click)="onDateButtonClickThere(item.date)"
      (click)="onDateButtonClickBack(item.date)"
      (click)="onClickThere(item)"
      (click)="onClickBack(item)"
      [ngClass]="{
        selected: isCheckedDate(item.date)
      }"
    >
      <p
        *ngIf="isCheckedDate(item.date)"
        class="borderBlock"
        [ngClass]="item.date | checkDateColor : flight"
      ></p>
      <button class="date-item"
      [ngClass]="{'disabled': item.price === undefined}">
        <div class="date-item__date">
          <div class="date-item__day-of-month">
            <span class="date-item__day">
              {{item.date.getDate()}}
            </span>
            <span class="date-item__month">
              {{ monthNames[item.date.getMonth()] }}
            </span>
          </div>
          <div class="date-item__day-of-week">
            {{ dayOfWeekNames[item.date.getDay()] }}
          </div>
        </div>
        <div class="date-item__price">
          <span class="price__numbers">{{item.price | currency}}</span>
        </div>
      </button>
    </li>
  </ul>
  <button class="carousel-btn carousel-btn_next" (click)="nextSlide()">
    <span class="carousel-btn_icon">
      <img src="./assets/booking/arrow.svg" alt="Arrow" />
    </span>
  </button>
</div>

