
<div class="booking-journey__carousel"
     [class.trip-selected-there]="isTripSelectedThere"
     [class.trip-selected-back]="isTripSelectedBack">
  <button class="carousel-btn carousel-btn_prev" 
  (click)="prevSlide()">
    <span class="carousel-btn_icon">
      <img src="./assets/booking/arrow.svg" alt="Arrow">
    </span>
  </button>
  <ul class="carousel__container"
  [style.transform]="'translateX(' + (-currentIndex * 10) + '%)'">
    <li class="item"
        *ngFor="let item of dates"
        (click)="onDateButtonClickThere(item)"
        (click)="onDateButtonClickBack(item)"
        [ngClass]="{'selected': selectedDateButtonThere === item || selectedDateButtonBack === item}"
        >
      <button class="date-item">
        <div class="date-item__date">
          <div class="date-item__day-of-month">
            <span class="date-item__day">01</span>
            <span class="date-item__month">Mar</span>
          </div>
          <div class="date-item__day-of-week">Wednesday</div>
        </div>
        <div class="date-item__price">
          <span class="price__symbol">€</span>
          <span class="price__numbers">146.70</span>
        </div>
      </button>
    </li>
  </ul>
  <button class="carousel-btn carousel-btn_next"
  (click)="nextSlide()">
    <span class="carousel-btn_icon">
      <img src="./assets/booking/arrow.svg" alt="Arrow">
    </span>
  </button>

</div>
