<div class="header__wrapper">
  <div class="header">
    <div class="header__flex">
      <div class="header__logo">
        <img src="../../../../assets/images/logo.svg" alt="" />
      </div>

      <nav class="header__menu header-menu">
        <ul>
          <li class="header-menu__item">
            <button type="button">Book flights</button>
          </li>
          <li class="header-menu__item">mhmm\mm\m</li>
          <li class="header-menu__item">
            <button type="button">EUR</button>
          </li>
          <li class="header-menu__item">
            <button type="button">Sign in</button>
          </li>
          <li class="header-menu__item">
            <img src="../../../../assets/images/shopping_basket.svg" alt="" />
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

