<div class="booking__container">

  <app-booking-header
    [openStatus]="openStatus"
    [passengerOptions]="passengerOptions"
    [countries]="countries"
    (openResentSearchEvent)="openResentSearch()"
    (increasePassengerCountEvent)="increasePassengerCount($event)"
    (decreasePassengerCountEvent)="decreasePassengerCount($event)"
    (getPassengerSummaryEvent)="getPassengerSummary()">
  </app-booking-header>

  <div class="booking__wrapper">
    <router-outlet></router-outlet>
    
    <div class="booking__buttons">
      <button class="btn btn-transparent"
              (click)="goBack()">
              Back
      </button>
      <button class="btn"
              [routerLink]="['passengers']">
              Continue
      </button>
    </div>
  </div>
</div>
