<div class="booking__container">
  <div *ngIf="flights$ | async as flights">
    <ng-container *ngFor="let flight of flights; let firstFlight = first">
      <app-booking-header
        *ngIf="firstFlight"
        [flight]="flight"
        [openStatus]="openStatus"
        [passengerOptions]="passengerOptions"
        [countries]="countries"
        (openResentSearchEvent)="openResentSearch()"
        (increasePassengerCountEvent)="increasePassengerCount($event)"
        (decreasePassengerCountEvent)="decreasePassengerCount($event)"
        (getPassengerSummaryEvent)="getPassengerSummary()"
      >
      </app-booking-header>
    </ng-container>
  </div>
  <div *ngIf="openStatus" class="booking__form-wrapper">
    <app-search-flights [isBookingPage]="true"></app-search-flights>
  </div>
  <div class="booking__wrapper">
    <router-outlet></router-outlet>

    <div
      class="booking__buttons"
      *ngIf="
        currentPath !== '/booking/passengers' &&
        currentPath !== '/booking/review-payment'
      "
    >
      <button class="btn btn-transparent" (click)="goBack()">Back</button>
      <button
        *ngIf="this.currentPath !== '/booking/flights'"
        class="btn"
        (click)="checkAuth()"
        [routerLink]="[checkContinuePage()]"
      >
        Continue
      </button>
      <button
      *ngIf="this.currentPath === '/booking/flights'"
        class="btn"
        (click)="checkTickets()"
      >
        Continue
      </button>
    </div>
  </div>
</div>



<div
  class="flight__attention"
  *ngIf="isAttentionClose"
  (click)="closeAttention()"
>
  <div class="attention-wrapper">
    <span>Please select all tickets</span>
  </div>
</div>
