@import "../../../styles/abstracts/constants.scss";

.booking__container {
  padding-top: 88px;
}

.booking__wrapper {
  max-width: $container-width;
  margin: 0 auto;
}

:host {
  background: rgba(244, 246, 249, 1);
}

.booking__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 40px;
  margin-bottom: calc(280px - 88px);
}

.btn {
  padding: 12px 24px;
  width: 126px;
  height: 60px;
  background: #11397e;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
  }
}

.btn-transparent {
  background: none;
  color: #11397e;
}

.booking__form-wrapper {
  width: $container-width;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  padding: 25px 10px 0px 10px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
