<div *ngIf="flights$ | async as flights$ ">
  <div class="booking-journey__there" *ngFor="let flight of flights$">
    <div class="booking-journey__header">
      <h3 class="header__title">
      <span class="header__title-icon">
        <img src="./assets/booking/plane-icon.png" alt="Plane" width="20" height="20">
      </span>
        <span class="header__title-text">{{flight.form.name}} to {{flight.to.name}}</span>
      </h3>
    </div>
    <app-journey-dates
      [selectedButton] = "selectedButton"
      (onButtonClickEvent)="onButtonClick($event)"
    >
    </app-journey-dates>
    <app-journey-flights [flight]="flight" ></app-journey-flights>
  </div>
</div>
<!--  <div class="booking-journey__back" *ngFor="let flight of flights$ | async">-->
<!--    <div class="booking-journey__header booking-journey__header_return">-->
<!--      <h3 class="header__title">-->
<!--      <span class="header__title-icon title-icon_return">-->
<!--        <img src="./assets/booking/plane-icon.png" alt="Plane" width="20" height="20">-->
<!--      </span>-->
<!--        <span class="header__title-text">{{flight.to.name}} to {{flight.form.name}}</span>-->
<!--      </h3>-->
<!--    </div>-->

<!--    <app-journey-dates-->
<!--      [selectedButton] = "selectedButton"-->
<!--      (onButtonClickEvent)="onButtonClick($event)"-->
<!--    >-->
<!--    </app-journey-dates>-->

<!--    <app-journey-flights [flight]="flight" ></app-journey-flights>-->
<!--  </div>-->

