<div *ngIf="(flights$ | async) as flights ">
  <ng-container *ngFor="let flight of flights; let index = index;">
  <div class="booking-journey__there" *ngIf="index === 0">
      <div class="booking-journey__header">
        <h3 class="header__title">
          <span class="header__title-icon">
            <img src="./assets/booking/plane-icon.png" alt="Plane" width="20" height="20">
          </span>
          <span class="header__title-text">{{flight.form.name}} to {{flight.to.name}}</span>
        </h3>
      </div>
    
      <app-journey-dates
        [flight]="flight" 
        [selectedDateButtonThere] = "selectedDateButtonThere"
        (onDateButtonClickThereEvent)="onDateButtonClickThere($event)"
        [isSelected]="isSelectedThere">
      </app-journey-dates>
    
      <app-journey-flights
        [flight]="flight" 
        [isSelected]="isSelectedThere"
        (onSelectTripEvent)="onSelectTrip('there', $event)"
        [selectedDateButtonThere]="selectedDateButtonThere">
      </app-journey-flights>

      <ng-container *ngFor="let otherFlight of flight.otherFlights | keyvalue">
        <app-journey-flights
          [flight]="otherFlight.value" 
          [isSelected]="isSelectedThere"
          (onSelectTripEvent)="onSelectTrip('there', $event)"
          [selectedDateButtonThere]="selectedDateButtonThere">
        </app-journey-flights>
      </ng-container>
    </div>
  
  <div class="booking-journey__back" *ngIf="index === 1">
      <div class="booking-journey__header booking-journey__header_return">
        <h3 class="header__title">
          <span class="header__title-icon title-icon_return">
            <img src="./assets/booking/plane-icon.png" alt="Plane" width="20" height="20">
          </span>
          <span class="header__title-text">{{flight.form.name}} to {{flight.to.name}}</span>
        </h3>
      </div>
      
      <app-journey-dates
        [flight]="flight" 
        [selectedDateButtonBack] = "selectedDateButtonBack"
        (onDateButtonClickBackEvent)="onDateButtonClickBack($event)"
        [isSelected]="isSelectedBack">
      </app-journey-dates>
    
      <app-journey-flights
        [flight]="flight" 
        [isSelected]="isSelectedBack"
        (onSelectTripEvent)="onSelectTrip('back', $event)"
        [selectedDateButtonBack]="selectedDateButtonBack"
        >
      </app-journey-flights>

      <ng-container *ngFor="let otherFlight of flight.otherFlights | keyvalue">
        <app-journey-flights
          [flight]="otherFlight.value" 
          [isSelected]="isSelectedBack"
          (onSelectTripEvent)="onSelectTrip('back', $event)"
          [selectedDateButtonBack]="selectedDateButtonBack">
        </app-journey-flights>
      </ng-container>
    </div>

  </ng-container>

</div>