.app-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
  width: 100%;
}
.app-content {
	flex: 1 0 auto;
}
.app-footer {
	flex: 0 0 auto;
}
.app-header{
  flex: 0 0 auto;
}

app-not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh + 88px);
}

._container{
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 88px;
}
