.home-form {
  position: relative;
  display: flex;
  flex-direction: column;

  &__submit-btn {
    align-self: end;
    button {
      margin-top: 32px;
      padding: 20px 37px;
      background: rgba(17, 57, 126, 1);
      color: white;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.1px;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  &__type-of-trip label {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(17, 57, 126, 1);
  }

  &__place {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__place-item {
    width: 532px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    margin-bottom: 4px;
  }

  &__place-span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(28, 27, 31, 1);
  }

  &__place-reverse-btn {
    position: absolute;
    right: 20px;
    top: 40px;
    border-radius: 50%;
    border: 2px solid linear-gradient(0deg, #ffffff, #ffffff);
    height: 40px;
    cursor: pointer;
  }

  &__params {
    display: flex;
    justify-content: space-between;
  }

  &__params-item {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 4px;
    margin-bottom: 4px;
  }
}

.params-pas {
  width: 201px;
  padding: 8px 0px 0px 16px;
  cursor: pointer;
  background-image: url("../../../../../assets/home-page/icon.svg");
  background-repeat: no-repeat;
  background-size: 14px 7px;
  background-position-x: 170px;
  background-position-y: 25px;

  &__option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__option-info {
    display: flex;
    flex-direction: column;
  }

  &__option-title {
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  &__option-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(116, 118, 122, 1);
  }

  &__option-btns {
    display: flex;
  }

  &__option-btns button {
    width: 40px;
    height: 30px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(69, 74, 83, 1);
    transition: 0.2s ease-in-out all;
  }

  &__option-btns button:hover {
    background-color: rgb(165, 161, 161);
    transition: 0.3s ease-in-out all;
  }

  &__start-title {
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
  }

  &__option-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(17, 57, 126, 1);
  }

  &__mat-option span {
    width: 100%;
  }

  &__wrapper {
    position: relative;
  }

  &__options-block {
    position: absolute;
    z-index: 2;
    top: 50px;
    left: -15px;
    background: white;
    width: 199px;
  }

  &__options-wrapper {
    padding: 14px 23px 14px 16px;
  }

  &__end-title {
    font-size: 13px;
    color: rgba($color: #02276b, $alpha: 0.7);
  }

  &__close-options {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
  }

  &__info-spans {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

.gray-bg {
  color: rgba(116, 118, 122, 1);
}

.mr-10px {
  margin-right: 5px;
}

.home-form .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.home-form .mat-mdc-select-arrow-wrapper {
  display: none !important;
}

.flexReverse {
  flex-direction: column-reverse;
}

.home-form__params-item .mat-mdc-form-field-infix {
  width: 200px;
}

.mb-12px {
  margin-bottom: 12px;
}

.unactiveCount {
  color: rgba(17, 57, 126, 0.7);
  font-weight: 400;
}

.activeCount {
  color: rgba($color: #003cff, $alpha: 0.7);
  font-weight: 500;
}

.fillBgOptions {
  background-color: #d1d1d1;
}

.errorBorderBottom {
  border-bottom: 0.1em solid var(--mdc-theme-error, #f44336);

  mat-label {
    color: red;
  }
}

.errorTextColor {
  color: var(--mdc-theme-error, #f44336);
}

.flexDirectionRow {
  flex-direction: row;
  align-items: baseline;
}

.home-form__submit-booking {
  position: absolute;
  top: -75px;
  right: 0;
  button {
    background-color: rgb(17, 57, 126);
    color: #f4f6f9;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.widthFull {
  width: 100%;
}

.marginRight20 {
  margin-right: 20px;
}

.flexWidthAuto {
  flex: 1 1 auto;
}

.justifyCenter {
  justify-content: center;
}

.matFormWidth255px {
  max-width: 255px;
}

.paramsFormFieldWidth {
  .mat-mdc-form-field {
    width: 100%;
  }
}
