<section class="booking-passengers">
  <div class="booking-passengers__title">
    <img src="./assets/booking/booking-passengers/person.svg" alt="" />
    <span>Passengers</span>
  </div>
  <div class="booking-passengers__sub-title">
    Enter the passenger's names as they appear on document (passport or ID).
  </div>
</section>
<form (ngSubmit)="submitForm()">
  <div *ngFor="let item of arrayForms" class="booking-passengers-item">
    <div class="booking-passengers-item__title">{{ item[0] }}</div>

    <div class="booking-passengers-item__form-wrapper">
      <div class="booking-passengers__form-item">
        <mat-form-field
          class="field-width"
          [formGroup]="item[1]"
          [ngClass]="{
            borderError: isNoValid && !item[1].get(item[2][0]).value
          }"
        >
          <mat-label>First Name</mat-label>
          <input matInput [formControlName]="item[2][0]" />
          <div
            *ngIf="!isNoValid && !item[1].get(item[2][0]).value"
            class="booking-passengers__form-attention"
            (mouseenter)="item[5] = true"
            (mouseleave)="item[5] = false"
          >
            <img src="./assets/booking/booking-passengers/info.svg" alt="" />
          </div>
          <div
            *ngIf="isNoValid && !item[1].get(item[2][0]).value"
            class="booking-passengers__form-attention"
          >
            <img src="./assets/booking/booking-passengers/error.svg" alt="" />
          </div>
        </mat-form-field>
        <div class="booking-passengers-info" *ngIf="item[5]">
          Add the passenger's name as it is written on their documents (passport
          or ID). Do not use any accents or special characters. Do not use a
          nickname.
        </div>
      </div>
      <div class="booking-passengers__form-item">
        <mat-form-field
          class="field-width"
          [formGroup]="item[1]"
          [ngClass]="{
            borderError: isNoValid && !item[1].get(item[2][1]).value
          }"
        >
          <mat-label>Last Name</mat-label>
          <input matInput [formControlName]="item[2][1]" />
          <div
            (mouseenter)="item[4] = true"
            (mouseleave)="item[4] = false"
            *ngIf="!isNoValid && !item[1].get(item[2][0]).value"
            class="booking-passengers__form-attention"
          >
            <img src="./assets/booking/booking-passengers/info.svg" alt="" />
          </div>

          <div
            *ngIf="isNoValid && !item[1].get(item[2][0]).value"
            class="booking-passengers__form-attention"
          >
            <img src="./assets/booking/booking-passengers/error.svg" alt="" />
          </div>
        </mat-form-field>
        <div class="booking-passengers-info" *ngIf="item[4]">
          Add the passenger's name as it is written on their documents (passport
          or ID). Do not use any accents or special characters. Do not use a
          nickname.
        </div>
      </div>

      <form
        style="display: flex"
        [formGroup]="item[1]"
        [ngClass]="{
          borderError: isNoValid && !item[1].get(item[2][2]).value
        }"
      >
        <label
          class="booking-passengers-item__select-label boreder-left-select"
          style="margin-right: -2px"
          [for]="item[2][2] + 'male'"
          [ngClass]="{ BookingPpassengersLabelSelected: item[3] === 'male' }"
          (click)="item[3] = 'male'"
        >
          <img
            *ngIf="item[3] === 'male'"
            src="./assets/booking/booking-passengers/selected.svg"
            alt=""
          />
          <span
            [ngClass]="{ bookingPassengersLabelSelected: item[3] === 'male' }"
            >Male</span
          ></label
        >
        <input
          style="display: none"
          type="radio"
          value="male"
          [id]="item[2][2] + 'male'"
          [formControlName]="item[2][2]"
        />

        <label
          class="booking-passengers-item__select-label boreder-right-select"
          [for]="item[2][2] + 'female'"
          (click)="item[3] = 'female'"
        >
          <img
            *ngIf="item[3] === 'female'"
            src="./assets/booking/booking-passengers/selected.svg"
            alt=""
          />
          <span
            [ngClass]="{ bookingPassengersLabelSelected: item[3] === 'female' }"
            >Female</span
          ></label
        >
        <input
          type="radio"
          style="display: none"
          value="female"
          [id]="item[2][2] + 'female'"
          [formControlName]="item[2][2]"
        />
      </form>

      <mat-form-field
        [ngClass]="{
          borderError: isNoValid && !item[1].get(item[2][3]).value
        }"
        appearance="fill"
        class="field-width"
        [formGroup]="item[1]"
      >
        <mat-label>Date of birth</mat-label>
        <input
          [max]="today"
          matInput
          [matDatepicker]="datepicker"
          [formControlName]="item[2][3]"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker startView="multi-year">
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              Apply
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>

    <div class="booking-passengers__special" style="margin-top: 15px">
      <form action="" [formGroup]="item[1]">
        <mat-slide-toggle [formControlName]="item[2][4]" color="#0007D1">
          <img
            style="margin: 0px 7px"
            src="./assets/booking/booking-passengers/invalid.svg"
            alt=""
          />
          <span>Need special assistance?</span>
        </mat-slide-toggle>
      </form>
    </div>
  </div>

  <div>
    <div
      class="booking-passengers-contact__title booking-passengers__title"
      style="margin-top: 48px"
    >
      <img src="./assets/booking/booking-passengers/contact.svg" alt="" />
      <span>Contact details</span>
    </div>
    <div class="booking-passengers__sub-title">
      We need contact details to be able to deliver the latest information
      regarding your flight.
    </div>

    <div class="booking-passengers__contact">
      <mat-form-field
        [ngClass]="{
          borderError: isNoValid && !contactForm.controls.code.value
        }"
        class="home-form__place-item noBorder"
        appearance="fill"
        [formGroup]="contactForm"
      >
        <mat-label>Country code</mat-label>
        <mat-select formControlName="code" disableRipple>
          <mat-option *ngFor="let item of countries" [value]="item"
            ><span class="mr-10px home-form__place-span">{{ item.code }}</span>
            <span class="gray-bg home-form__place-span">
              {{ item.name | slice : 0 : 3 | uppercase }}</span
            >
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        [ngClass]="{
          borderError: isNoValid && !contactForm.controls.tel.value
        }"
        [formGroup]="contactForm"
        style="margin: 0px 40px 0px 20px"
      >
        <mat-label>Mobile phone number</mat-label>
        <input
          type="tel"
          matInput
          placeholder="e.g. 1111111111"
          formControlName="tel"
        />
      </mat-form-field>

      <mat-form-field
        style="width: 418px"
        [formGroup]="contactForm"
        [ngClass]="{
          borderError: isNoValid && !contactForm.controls.email.value
        }"
      >
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Ex. pat@example.com"
          formControlName="email"
        />
      </mat-form-field>
    </div>
  </div>
</form>

<div class="booking__buttons">
  <button class="btn btn-transparent" [routerLink]="['/booking/flights']">
    Back
  </button>
  <button
    class="btn"
    (click)="submitForm()"
  >
    Continue
  </button>
</div>
