.container{
  padding: 32px 24px 34px 24px;
  overflow: auto;
  max-height: 80vh;
  height: auto;
}
.nav-wrapper{
  width: 100%;
  background: #F4F6F9;
  border: 0.5px solid #CECECE;
  border-radius: 6px;
  margin-bottom: 36px;
  .nav-button{
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
  }
}
.social-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 128px;
  .soc-btn{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    max-width: 446px;
    width: 100%;
    height: 56px;
    //padding: 18px 0;
    background: #F4F6F9;
    border: 1px solid #CECECE;
    border-radius: 4px;
    img{
      margin-right: 8px;
    }
    span{
      display: flex;
    }
  }
}
.border{
    display: flex;
    justify-content: center;
    align-items: center;
  margin: 32px 0 24px;
  }
  .line {
    width: 95%;
    height: 1px;
    background-color: #E1E5EB;
  }
  .text {font-weight: 400;
    font-size: 11.4px;
    line-height: 16px;
    margin: 0 12px;
    max-width: 147px;
    width: 100%;
    letter-spacing: 0.4px;
}


  //form
.form-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-field{
    width: 100%;
    border-radius: 4px;
    .label-form{
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: #49454F;
    }
    .input-form{
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      letter-spacing: 0.5px;
      color: #49454F;
    }
  }
  .form-field-bday{
    margin-bottom: 0px !important;
  }
  .forgot{
    text-align: right;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #11397E;
    margin-bottom: 24px;
  }
  .sex-wrapper{
    width: 100%;
    background: #F4F6F9;
    border: 0.5px solid #CECECE;
    border-radius: 6px;
    margin-bottom: 20px;
    .nav-button{
      width: 100%;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.1px;
      height: 40px;
    }
  }
  .phone{
    display: flex;
    .form-field:not(:last-child) {
      margin-right: 8px;
    }
  }
}
.agreement{
  text-align: left;
  display: flex;
  margin: 20px 0;
  label{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #1C1B1F;
     a {
      color: #11397E;
      text-decoration: none;
    }
  }
}

