<div class="container">
    <mat-button-toggle-group class="nav-wrapper" value="login">
    <mat-button-toggle class="nav-button" value="login" (click)="onSwitch(true)">Log In</mat-button-toggle>
    <mat-button-toggle class="nav-button" value="sign"(click)="onSwitch(false)">Sign up</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="social-wrapper">
    <button mat-button class="soc-btn" (click)="onLoginWithGoogleLogin()" >
      <img src="./assets/images/google_24px.svg">
      Continue with Google</button>
    <button mat-button class="soc-btn" (click)=" onLoginWithFacebookLogin()">
      <img src="./assets/images/facebbok_24px.svg">
      Continue with Facebook</button>
  </div>
  <div class="border">
    <span class="line"></span>
    <span class="text">{{ textBorder$ | async }}</span>
    <span class="line"></span>
  </div>
   <form *ngIf="isLogin$ | async " class="form-wrapper"
         [formGroup]="formGroupLogin" (submit)="onSubmitLogin()">
     <mat-form-field class="form-field">
       <mat-label class="label-form">Email</mat-label >
       <input matInput class="input-form" formControlName="email" placeholder="Ex. pat@example.com">
       <mat-error *ngIf="!email!.valid">
         {{account_validation_messages.email.correct}}
       </mat-error>
     </mat-form-field>
     <mat-form-field class="form-field" >
       <mat-label class="label-form">Password</mat-label>
       <input  class="input-form" matInput type="Password" formControlName="password">
     </mat-form-field>
     <mat-error *ngIf="errors$ | async">
       {{errors$.value}}
     </mat-error>
     <div class="forgot">Forgot password?</div>
     <button mat-raised-button color="primary">Log in</button>
   </form>
  <form *ngIf="!(isLogin$ | async)" class="form-wrapper" [formGroup]="formGroupSignUp" (submit)="onSubmit()">
    <mat-form-field  class="form-field">
      <mat-label class="label-input" >Email</mat-label>
      <input type="email" matInput class="input-filed" formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="!email!.valid">
          {{account_validation_messages.email.correct}}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label class="label-form">Password</mat-label>
      <input  class="input-form" matInput type="Password" formControlName="password">
      <mat-error *ngIf="!password!.valid">
        {{account_validation_messages.password.message}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" >
    <mat-label class="label-form">First name</mat-label>
    <input  class="input-form" matInput type="text" formControlName="firstName">
      <mat-error *ngIf="!firstName!.valid">
        {{account_validation_messages.firstName.pattern}} and {{account_validation_messages.firstName.message}}
      </mat-error>
  </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label class="label-form">Last name</mat-label>
      <input  class="input-form" matInput type="text" formControlName="lastName">
      <mat-error *ngIf="!lastName!.valid">
        {{account_validation_messages.lastName.pattern}} and {{account_validation_messages.lastName.message}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field form-field-bday"   appearance="fill">
      <mat-label class="label-form">Date of birth</mat-label>
      <input matInput  class="input-form"  [matDatepicker]="formGroupSign" formControlName="dateOfBirth" />
      <mat-error *ngIf="!dateOfBirth!.valid">
        {{account_validation_messages.bDay.message}}
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="formGroupSign"></mat-datepicker-toggle>
      <mat-datepicker #formGroupSign></mat-datepicker>
    </mat-form-field>
    <mat-button-toggle-group class="sex-wrapper" formControlName="gender">
      <mat-button-toggle class="nav-button" value="Male">Male</mat-button-toggle>
      <mat-button-toggle class="nav-button" value="Female">
        Female</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="phone">
      <mat-form-field class="form-field" >
        <mat-label class="label-form">Country code</mat-label>
        <mat-select class="input-form" formControlName="countryCode">
          <mat-option  class="input-form"  *ngFor = "let country of citizenship$ | async" [value]="country.country">
            {{country.country}} (+{{country.calling_code}})
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!countryCode!.valid">
          {{account_validation_messages.phone.message}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field field-phone">
        <mat-label class="label-form">Mobile phone number</mat-label>
        <input  class="input-form" matInput type='text' formControlName="phone">
        <mat-error *ngIf="!phone!.valid">
          {{account_validation_messages.phone.message}}
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="form-field" >
      <mat-label class="label-form">Citizenship</mat-label>
      <mat-select class="input-form" formControlName="citizenship" >
        <mat-option  class="input-form"  *ngFor = "let country of citizenship$ | async" [value]="country.country">
          {{country.country}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!citizenship!.valid">
        {{account_validation_messages.citizenship.message}}
      </mat-error>
    </mat-form-field>
    <div *ngIf="isLogin$ | async" class="forgot">Forgot password?</div>
    <mat-checkbox formControlName="agreement"  *ngIf="!(isLogin$ | async)" class="agreement" color="primary">I agree to Airway's <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a>
      <mat-error *ngIf="!agreement!.value"  >
        {{account_validation_messages.agreement.message}}
      </mat-error>
    </mat-checkbox>
    <mat-error *ngIf="errors$ | async">
      {{errors$.value}}
    </mat-error>

    <button mat-raised-button color="primary" type="submit" >Sign up</button>
  </form>

  <div class="footer"></div>
</div>
