@import "./styles/main.scss";

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Rooto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: $color-background;
}

.wrapper {
  max-width: $content-width;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
